body{
text-align: center;
font-family: helvetica;
width: 100%;
}
#welcome-section{
  height: 100vh;
}

.nav{
    display:flex;
    justify-content: flex-end;
    top:0;
    width:100%;
    z-index:10;
    position:fixed;
    color:#be3144;
}

@media only screen and (max-width: 768px ) {
    /* For tablets: */
    section{
        width: 90%;
    }  
}
  



